body {
    font-family: Arial, sans-serif;
    background: #1a1a2e;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background: linear-gradient(45deg, #ff638d, #ffaa63);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.1);
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

#library div {
    background: #162447;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#library div button {
    display: block;
    margin-top: 10px;
    background: linear-gradient(45deg, #ff638d, #ffaa63);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s;
}

#library div button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

form span {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

form input[type="text"], form input[type="number"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #162447;
    color: #fff;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="checkbox"] {
    background: #162447;
}
